html, body{
  height: 100%;

  .chat-main {
    background-color: #FAFAFA;
    width: calc(100% - 300px);
    float: left;
    height: 100%;
    &__header {
      height: 15%;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #eeeeee;
      box-sizing: border-box;
      &__groups {
        margin: 0px 40px;
        &__left {
          width: 100px;
          display: inline-block;
          &__name {
          margin: 35px 0px 15px 0px;
          font-size: 20px;
          float: left;
          }
          &__member {
          font-size: 12px;
          }
        }
        &__right {
          height: 40px;
          float: right;
          margin-top: 28px;
          border: 1px solid $light_blue;
          color: $light_blue;
          padding:0 20px;
          line-height: 40px;
          &__edit-btn {
          }
        }
      }
    }
    &__body {
      height: calc(100% - 15% - 130px);
      margin: 6px 40px 0px 40px;
      box-sizing: border-box;
      &__message {
          margin: 40px 10px 10px 0px;
        &__messages {
          padding-bottom: 40px;
          &__message {
          float: left;
          font-size: 16px;
          margin-right: 10px;
          font-weight: bold;
          }
          &__date {
          float: left;
          margin-bottom: 20px;
          font-size: 12px;
          }
          &__low-message {
          font-size: 14px;
          clear: both;
          }
        }
      }
    }
    &__footer{
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 40px 20px 40px;
      &__form {
        height: 50px;
        background-color: $white;
        .form__message {
        float: left;
        line-height: 50px;
        border-style: none;
        width: 720px;
        padding: 0 10px;
        }
        .hidden {
        display: none;
        }
        .image {
        margin: 15px 0  40px 0px;
        font-size: 20px;
        }
        .send {
        height: 50px;
        float: right;
        color: $white;
        line-height: 50px;
        background-color: $light_blue;
        padding: 0 30px;
        border-style: none;
        margin-left: 15px;
        box-sizing: border-box;
        }
      }
    }
  }
}
